/* This is the main CSS File */
*
{
  font-size: 10px;
}
h1 {
  color: #b32626;
}

table,th,td{
  border: 1px solid;
  border-collapse: collapse;

}

td{
  width:1rem;
  height: 1rem;
  padding:0.25rem;
  text-align: center;
}

.labelsRow
{
  background-color: #9e8686;
}

.labelsColumn
{
  background-color: #b3c0d7;
}

.missedAttacks
{
  background-color: #252a31;
}
